body {
    background-color: bisque;
    margin: 0;
}

#container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#container h1{
    background-color: rgb(205, 150, 66);
    padding: 100px;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(210, 100%, 60%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.638);
}

button:active{
    background-color: hsl(210, 100%, 70%);
}

label {
    background-color: hsl(210, 100%, 50%);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px 9px;
}

#diceResult {
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 5px;
}